/* My stylesheet */
body
{
    background-color: #f8f8f8;
	background-color: #202020;
	color: #f8f8f8;
}

div#post-area
{
  width: 80vw;
}
div.post
  {
  	color: #202020;
    font-family: Verdana;
    margin: 15px;
    margin-top: 80px;
    margin-bottom: 30px;
    background-color: #f8f8f8;
    border: solid 3px #4286f4;
  }
  div.post-title
  {
    color: #555;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
  }

  div.post-date
  {
    background-color: #4286f4;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  div.post-content
  {
    padding-left: 12%;
    padding-right: 12%;
    font-size: 14px;
    margin: 50px;
  }

  div.post-footer
  {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

nav.navbar
  {
    height: 50px;
    position: fixed;
    top: 0px;
    width: 100vw;
  }
.table
{
	margin-top: 15px;
	text-align: center;
}
tr
{
	color: #f46e42;
}
tr:hover
{
	font-weight: bold;
	color: #4286f4;
}
td
{
	border: solid 1px #4286f4;
	transition-duration: .1s;
}
td:hover
{
	border: solid 1px #f46e42;
	color: #49bc25;
	font-size: 105%;
}

.loginmodal-container
{
	color: #222;
}

#bs-example-navbar-collapse-1
{
	background-color: #f8f8f8;
	max-height: 100vh;
}
